In [1]:
import pandas as pd
import gc

In [13]:
ad_id_embedding = pd.read_csv('output/model/ad_id_embedding.csv')
ad_id_embedding

,ad_id,ad_id_embe_0,ad_id_embe_1,ad_id_embe_2,ad_id_embe_3,ad_id_embe_4,ad_id_embe_5,ad_id_embe_6,ad_id_embe_7,ad_id_embe_8,...,ad_id_embe_22,ad_id_embe_23,ad_id_embe_24,ad_id_embe_25,ad_id_embe_26,ad_id_embe_27,ad_id_embe_28,ad_id_embe_29,ad_id_embe_30,ad_id_embe_31
0,1,0.105910,0.335036,-0.431351,0.164155,0.261301,0.634626,-0.009314,-0.023387,-0.264512,...,-0.251268,0.431521,0.835306,-0.021999,0.727791,-0.095861,0.132961,-0.257504,0.228655,0.597648
1,4,0.914675,0.297620,-0.213420,0.109848,0.114923,0.717790,-0.362810,-0.208374,-0.160634,...,0.291628,0.086271,0.197985,0.383805,0.575841,0.064396,0.247708,-0.360945,0.403407,0.914605
2,7,0.044670,0.167866,-0.237711,-0.043284,0.111577,-0.111510,-0.210162,-0.385787,-0.118634,...,0.017564,-0.104224,-0.031909,0.167522,0.066377,0.090214,0.057412,-0.134563,0.091735,0.194077
3,10,0.221213,0.166764,-0.256418,0.109516,0.002723,0.345446,-0.157145,-0.103459,-0.205685,...,0.055161,0.273621,0.314123,0.150131,0.421323,-0.113825,0.115182,-0.193191,0.076697,0.425385
4,13,0.529767,0.090097,-0.195150,-0.233836,0.060646,0.355769,0.134674,0.106647,-0.083118,...,0.138554,0.139170,0.086962,0.134809,0.176469,-0.101493,0.026703,-0.173130,0.188915,0.269375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1977172,3812192,0.137362,0.065485,-0.080351,0.005960,-0.034305,0.073356,-0.021868,-0.052291,-0.024175,...,-0.025813,0.033140,0.019157,0.070050,0.090867,0.026364,0.067118,-0.077113,0.050097,0.123414
1977173,3812193,0.173164,0.002196,-0.086958,-0.209613,0.291240,0.033864,-0.002423,-0.054711,0.093734,...,0.044948,0.103580,-0.056693,-0.182879,0.108853,-0.020049,-0.082090,-0.121302,-0.023137,0.093575
1977174,3812197,0.060151,-0.016913,0.011626,0.102653,0.002425,0.127144,-0.110589,-0.073005,-0.125047,...,0.080313,-0.010211,0.118214,0.039306,0.143943,-0.055003,0.066039,-0.108260,0.024133,0.107624
1977175,3812200,0.085246,0.014792,-0.049845,0.015642,0.016032,0.114203,-0.019417,-0.006446,-0.059986,...,0.015782,0.075696,0.057648,0.027031,0.129858,-0.033118,0.041175,-0.132730,0.021486,0.102729
1977176,3812201,0.111760,0.041105,-0.137721,-0.031496,0.063154,0.122388,-0.020149,-0.078924,-0.047822,...,0.013204,0.137871,0.075380,0.077997,0.223219,-0.063128,0.064158,-0.148182,-0.049448,0.173684

训练集

In [3]:
train_ad = pd.read_csv('data/train_preliminary/ad.csv')
train_click_log = pd.read_csv('data/train_preliminary/click_log.csv')
train = pd.merge(train_ad, train_click_log, how='outer')
del train_ad, train_click_log
gc.collect()
train

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times
0,1,1,\N,5,381,78,81,398695,1
1,1,1,\N,5,381,78,82,404020,1
2,1,1,\N,5,381,78,81,556109,1
3,1,1,\N,5,381,78,81,687033,1
4,1,1,\N,5,381,78,81,556136,1
...,...,...,...,...,...,...,...,...,...
30082766,4445715,3812197,39063,17,427,\N,91,299455,1
30082767,4445716,3812198,39063,17,427,\N,91,525903,1
30082768,4445717,3812199,35885,17,427,\N,91,779891,1
30082769,4445718,3812200,39287,17,427,\N,91,740461,1
30082770,4445718,3812200,39287,17,427,\N,91,101004,1

In [4]:
train_features = train[['user_id', 'ad_id']]
del train
gc.collect()
train_features

          user_id    ad_id
0          398695        1
1          404020        1
2          556109        1
3          687033        1
4          556136        1
...           ...      ...
30082766   299455  3812197
30082767   525903  3812198
30082768   779891  3812199
30082769   740461  3812200
30082770   101004  3812200

[30082771 rows x 2 columns]

In [5]:
train_id = train_features[['user_id']].drop_duplicates()
train_id

          user_id
0          398695
1          404020
2          556109
3          687033
4          556136
...           ...
28106374   510152
28136502   884209
28312882   141128
28473972   578293
29040601   630049

[900000 rows x 1 columns]

In [6]:
train_ad_id_embedding = pd.merge(train_features, ad_id_embedding, on='ad_id', how='left')
train_ad_id_embedding

,user_id,ad_id,ad_id_embe_0,ad_id_embe_1,ad_id_embe_2,ad_id_embe_3,ad_id_embe_4,ad_id_embe_5,ad_id_embe_6,ad_id_embe_7,...,ad_id_embe_22,ad_id_embe_23,ad_id_embe_24,ad_id_embe_25,ad_id_embe_26,ad_id_embe_27,ad_id_embe_28,ad_id_embe_29,ad_id_embe_30,ad_id_embe_31
0,398695,1,0.105910,0.335036,-0.431351,0.164155,0.261301,0.634626,-0.009314,-0.023387,...,-0.251268,0.431521,0.835306,-0.021999,0.727791,-0.095861,0.132961,-0.257504,0.228655,0.597648
1,404020,1,0.105910,0.335036,-0.431351,0.164155,0.261301,0.634626,-0.009314,-0.023387,...,-0.251268,0.431521,0.835306,-0.021999,0.727791,-0.095861,0.132961,-0.257504,0.228655,0.597648
2,556109,1,0.105910,0.335036,-0.431351,0.164155,0.261301,0.634626,-0.009314,-0.023387,...,-0.251268,0.431521,0.835306,-0.021999,0.727791,-0.095861,0.132961,-0.257504,0.228655,0.597648
3,687033,1,0.105910,0.335036,-0.431351,0.164155,0.261301,0.634626,-0.009314,-0.023387,...,-0.251268,0.431521,0.835306,-0.021999,0.727791,-0.095861,0.132961,-0.257504,0.228655,0.597648
4,556136,1,0.105910,0.335036,-0.431351,0.164155,0.261301,0.634626,-0.009314,-0.023387,...,-0.251268,0.431521,0.835306,-0.021999,0.727791,-0.095861,0.132961,-0.257504,0.228655,0.597648
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30082766,299455,3812197,0.060151,-0.016913,0.011626,0.102653,0.002425,0.127144,-0.110589,-0.073005,...,0.080313,-0.010211,0.118214,0.039306,0.143943,-0.055003,0.066039,-0.108260,0.024133,0.107624
30082767,525903,3812198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30082768,779891,3812199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30082769,740461,3812200,0.085246,0.014792,-0.049845,0.015642,0.016032,0.114203,-0.019417,-0.006446,...,0.015782,0.075696,0.057648,0.027031,0.129858,-0.033118,0.041175,-0.132730,0.021486,0.102729
30082770,101004,3812200,0.085246,0.014792,-0.049845,0.015642,0.016032,0.114203,-0.019417,-0.006446,...,0.015782,0.075696,0.057648,0.027031,0.129858,-0.033118,0.041175,-0.132730,0.021486,0.102729

In [7]:
def extract_feat(df_, key, name, L, train_id):
    for i in range(L):
        t = df_.groupby(key).aggregate({'{0}_embe_{1}'.format(name, i):['mean','min','max']}).reset_index()
        t.columns = ['_'.join(j).strip('_') for j in t.columns.values]
        train_id = pd.merge(train_id, t, on=key, how='left')
        del t 
        gc.collect()
    return train_id

In [8]:
train_ad_id_embedding_df= extract_feat(train_ad_id_embedding, 'user_id', 'ad_id', 32, train_id)
train_ad_id_embedding_df

,user_id,ad_id_embe_0_mean,ad_id_embe_0_min,ad_id_embe_0_max,ad_id_embe_1_mean,ad_id_embe_1_min,ad_id_embe_1_max,ad_id_embe_2_mean,ad_id_embe_2_min,ad_id_embe_2_max,...,ad_id_embe_28_max,ad_id_embe_29_mean,ad_id_embe_29_min,ad_id_embe_29_max,ad_id_embe_30_mean,ad_id_embe_30_min,ad_id_embe_30_max,ad_id_embe_31_mean,ad_id_embe_31_min,ad_id_embe_31_max
0,398695,0.271326,-6.453866,6.522954,1.048276,-6.640024,7.468815,0.087634,-5.444971,4.501921,...,8.491344,-0.032178,-4.059817,4.611450,-0.389685,-4.369331,6.337449,1.177336,-3.369677,5.380924
1,404020,-0.496636,-6.379715,2.006230,0.192073,-3.625995,3.505461,-0.471100,-4.977020,0.767049,...,2.867338,0.085652,-2.546952,4.905569,0.545286,-2.297382,2.375513,1.257899,0.207765,3.247181
2,556109,-0.509934,-4.625976,3.597884,1.554350,0.079114,7.392743,-0.593285,-4.593408,2.618259,...,0.839128,-0.292294,-3.363880,0.822821,0.616163,-2.279990,3.304065,0.589112,-0.373315,2.060810
3,687033,-1.943511,-11.347910,1.614955,0.731514,-2.803534,5.296296,-2.538595,-8.625064,1.968078,...,6.947519,0.749606,-4.518921,9.337747,-0.629671,-4.692857,2.790417,0.723462,-3.692674,5.474802
4,556136,0.377814,-1.319615,3.963268,1.338090,-0.776536,6.654735,-0.697949,-4.096636,0.946351,...,0.620631,0.386202,-0.586287,2.693855,0.748846,-2.956112,2.830239,0.649319,-1.340554,2.959517
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
899995,510152,-4.343683,-6.919575,-0.346898,0.271720,-0.453071,0.632809,-4.474826,-5.931557,-0.748687,...,-0.180115,-2.535304,-4.940686,4.938750,-2.256700,-4.380843,-0.269946,-1.108359,-1.781099,0.393781
899996,884209,0.957558,-0.620943,3.103294,-0.281404,-1.662406,0.172525,-0.780622,-2.103518,-0.017244,...,0.162099,-0.899718,-2.906710,-0.106018,-0.217286,-1.562319,0.136120,1.202130,0.056698,3.324122
899997,141128,0.498565,0.014225,1.205758,-0.131652,-0.587289,0.072988,-0.156269,-0.346151,0.007804,...,0.119056,-0.351421,-0.831761,0.112815,0.106418,-0.079827,0.588763,0.453333,0.091583,0.716033
899998,578293,-2.138292,-4.427123,0.250282,-1.021627,-2.818276,1.516580,-1.566119,-3.450937,2.067897,...,1.755710,-2.627424,-7.156793,-0.344152,-0.822750,-3.702339,1.018951,0.198919,-2.821120,2.026957
899999,630049,0.217754,-0.857586,0.962751,-0.214111,-1.566671,0.229051,-0.131599,-1.340818,0.785788,...,0.643681,-0.124142,-0.612439,1.392440,0.758381,-0.379924,2.986648,0.631072,0.074428,1.384675

In [9]:
train_ad_id_embedding_df.to_csv('output/features/train/ad_id_embedding_df.csv', index=False)

In [10]:
del train_features, train_id, train_ad_id_embedding, train_ad_id_embedding_df
gc.collect()

0

In [ ]:
#内存溢出

测试集

In [4]:
test_ad = pd.read_csv('data/test/ad.csv')
test_click_log = pd.read_csv('data/test/click_log.csv')
test = pd.merge(test_ad, test_click_log, how='outer')
del test_ad, test_click_log
gc.collect()
test

,creative_id,ad_id,product_id,product_category,advertiser_id,industry,time,user_id,click_times
0,1,1,\N,5,381,78,81,3153317,1
1,1,1,\N,5,381,78,81,3284714,1
2,1,1,\N,5,381,78,81,3491929,1
3,1,1,\N,5,381,78,81,3831238,1
4,1,1,\N,5,381,78,82,3304452,1
...,...,...,...,...,...,...,...,...,...
33585507,4445715,3812197,39063,17,427,\N,91,3697572,1
33585508,4445718,3812200,39287,17,427,\N,91,3306334,1
33585509,4445719,3812201,39287,17,427,\N,91,3692401,1
33585510,4445719,3812201,39287,17,427,\N,91,3933083,1
33585511,4445720,3812202,39287,17,427,\N,91,3312130,1

In [5]:
test_features = test[['user_id', 'ad_id']]
del test
gc.collect()
test_features

          user_id    ad_id
0         3153317        1
1         3284714        1
2         3491929        1
3         3831238        1
4         3304452        1
...           ...      ...
33585507  3697572  3812197
33585508  3306334  3812200
33585509  3692401  3812201
33585510  3933083  3812201
33585511  3312130  3812202

[33585512 rows x 2 columns]

In [6]:
test_id = test_features[['user_id']].drop_duplicates()
test_id

          user_id
0         3153317
1         3284714
2         3491929
3         3831238
4         3304452
...           ...
31350787  3274620
31440169  3818829
32224876  3380122
32323640  3996272
32784646  3503732

[1000000 rows x 1 columns]

In [9]:
test_ad_id_embedding = pd.merge(test_features[0:12000000], ad_id_embedding, on='ad_id', how='left')
test_ad_id_embedding.to_csv('output/temp/test_ad_id_embedding_0.csv',index=False)
del test_ad_id_embedding
gc.collect()

0

In [10]:
test_ad_id_embedding = pd.merge(test_features[12000000:24000000], ad_id_embedding, on='ad_id', how='left')
test_ad_id_embedding.to_csv('output/temp/test_ad_id_embedding_1.csv',index=False)
del test_ad_id_embedding
gc.collect()

0

In [11]:
test_ad_id_embedding = pd.merge(test_features[24000000:], ad_id_embedding, on='ad_id', how='left')
test_ad_id_embedding.to_csv('output/temp/test_ad_id_embedding_2.csv',index=False)
del test_ad_id_embedding
gc.collect()

0

In [2]:
temp0=pd.read_csv('output/temp/test_ad_id_embedding_0.csv')
temp1=pd.read_csv('output/temp/test_ad_id_embedding_1.csv')
temp2=pd.read_csv('output/temp/test_ad_id_embedding_2.csv')
test_ad_id_embedding=pd.concat([temp0,temp1,temp2],ignore_index=True)
test_ad_id_embedding.to_csv('output/features/test/test_ad_id_embedding.csv')
del temp0,temp1,temp2
gc.collect()

0

In [3]:
def extract_feat(df_, key, name, L, train_id):
    for i in range(L):
        t = df_.groupby(key).aggregate({'{0}_embe_{1}'.format(name, i):['mean','min','max']}).reset_index()
        t.columns = ['_'.join(j).strip('_') for j in t.columns.values]
        train_id = pd.merge(train_id, t, on=key, how='left')
        del t 
        gc.collect()
    return train_id

In [7]:
test_ad_id_embedding_df= extract_feat(test_ad_id_embedding, 'user_id', 'ad_id', 32, test_id)
test_ad_id_embedding_df

,user_id,ad_id_embe_0_mean,ad_id_embe_0_min,ad_id_embe_0_max,ad_id_embe_1_mean,ad_id_embe_1_min,ad_id_embe_1_max,ad_id_embe_2_mean,ad_id_embe_2_min,ad_id_embe_2_max,...,ad_id_embe_28_max,ad_id_embe_29_mean,ad_id_embe_29_min,ad_id_embe_29_max,ad_id_embe_30_mean,ad_id_embe_30_min,ad_id_embe_30_max,ad_id_embe_31_mean,ad_id_embe_31_min,ad_id_embe_31_max
0,3153317,0.137139,-1.878430,3.220181,1.279823,-0.064980,4.656413,-0.070853,-2.085783,3.817105,...,3.899837,-0.229143,-2.912693,1.021144,1.250053,-2.203834,6.663083,1.068997,-0.387896,2.914377
1,3284714,0.818208,-3.812498,4.961826,2.206912,0.036472,8.533576,-1.001294,-4.515707,0.892850,...,5.632439,0.527937,-2.154436,5.018082,1.400167,-2.235176,4.296348,1.686210,-1.805766,10.360848
2,3491929,-0.681650,-4.806726,1.625325,0.832691,-3.986367,3.720694,-1.200181,-6.020298,0.415714,...,1.127726,0.175070,-0.985345,2.991149,0.404813,-4.706536,3.522711,0.243528,-1.779256,2.344351
3,3831238,0.193356,-5.168724,4.511687,0.732344,-1.038256,5.402612,-1.132856,-8.822957,1.229192,...,4.437163,0.522569,-1.401662,4.886438,0.201623,-1.371248,3.072867,0.374474,-2.721162,3.916173
4,3304452,-0.602799,-6.223625,4.005105,1.072692,-3.545419,5.287879,-0.110198,-7.142450,2.655369,...,3.808244,-0.340371,-6.417955,4.490291,-0.919221,-6.087105,3.654287,1.067531,-1.384751,4.446765
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,3274620,-2.106218,-5.886030,0.637769,-0.526008,-2.088032,1.057639,-1.574159,-3.882844,-0.436958,...,3.333015,1.338087,-0.602200,4.231319,0.423195,-1.354892,1.327684,3.710185,0.504101,7.131607
999996,3818829,0.385067,-0.067956,0.591475,-0.391493,-1.055110,-0.068664,-0.436491,-1.157278,-0.113634,...,0.091938,-0.489575,-0.948910,0.152356,-0.020052,-0.236294,0.248213,1.005611,0.604371,1.642568
999997,3380122,-0.753055,-3.139724,0.209324,-0.121105,-1.133710,1.247863,-1.247632,-3.281766,-0.122985,...,0.101720,-1.601568,-3.640878,0.328399,-1.157981,-3.569244,0.037284,-0.346071,-3.555825,0.248699
999998,3996272,0.499637,0.179510,0.770862,0.441261,0.060094,1.112402,-0.341362,-1.112615,-0.032550,...,0.039197,-0.397833,-1.020273,0.443121,0.383373,0.070830,1.370724,0.743786,0.231964,1.109015
999999,3503732,-0.173785,-0.886689,0.319090,-0.701174,-4.543886,0.006678,-0.149710,-0.395320,0.159149,...,1.870313,-0.709564,-2.082767,-0.067280,-0.752898,-3.626215,0.035725,0.218204,-0.218646,0.568159

In [8]:
test_ad_id_embedding_df.to_csv('output/features/test/ad_id_embedding_df.csv', index=False)